@import 'variables';

.menu__item {
  transition: transform 0.3s;
  transition-timing-function: ease;
}

.menu__item:hover {
  transform: scale(1.02);
}

.card__back-sentence-item {
  transition:
    opacity 0.3s,
    visibility 0.3s;
  transition-timing-function: ease;
}

.card__back-image-item {
  transition:
    opacity 0.3s,
    visibility 0.3s,
    transform 0.3s;
  transition-timing-function: ease;
}

.card__back-image-item:hover {
  transform: scale(1.02);
}

.card__back-translations-item {
  transition:
    opacity 0.3s,
    visibility 0.3s;
  transition-timing-function: ease;
}

.card__back {
  transition:
    opacity 0.3s,
    visibility 0.3s;
  transition-timing-function: ease;
}

.card__front {
  transition:
    opacity 0.3s,
    visibility 0.3s;
  transition-timing-function: ease;
}

.card__back-controls-remember {
  transition: background-color 0.3s;
  transition-timing-function: ease;
}

.card__back-controls-forgot {
  transition: background-color 0.3s;
  transition-timing-function: ease;
}

.login-btn {
  transition: background-color 0.3s;
  transition-timing-function: ease;
}

.register-btn {
  transition: background-color 0.3s;
  transition-timing-function: ease;
}

.login-btn:hover {
  background-color: $accent-color-1-light;
}

.register-btn:hover {
  background-color: $accent-color-2-light;
}

.modal__button {
  transition: background-color 0.3s;
  transition-timing-function: ease;
}

.modal__button:hover {
  background-color: $accent-color-2-light;
}

.controls__new-student-btn {
  transition: background-color 0.3s;
  transition-timing-function: ease;
}

.controls__new-student-btn:hover {
  background-color: $accent-color-4-dark;
}

.students__item-container {
  transition: background-color 0.3s;
  transition-timing-function: ease;
}

.students__item-container:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.right-click-item {
  transition: background-color 0.3s;
  transition-timing-function: ease;
}

.right-click-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
