@import 'variables';

.card {
  background-color: $general-background-color;
  border-radius: $general-border-radius;
  inline-size: 100%;
  min-block-size: 500px;
  box-shadow: $general-box-shadow;
  padding: 30px 20px;
  color: $paragraph-color;
  position: relative;
}

.card__front {
  position: absolute;
  opacity: 0;
  inset: 0;
  z-index: -1;
  visibility: hidden;
}

.card__front_active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  block-size: 100%;
  position: relative;
  z-index: 1;
  opacity: 1;
  visibility: initial;
}

.card__front-button {
  background-color: inherit;
  border: none;
  font-size: 40px;
}

.card__front-answer-form {
  display: flex;
  gap: 10px;
  inline-size: 100%;
  margin: 40px 0 0 0;
}

.card__front-answer-input {
  font-size: 18px;
  inline-size: 100%;
  block-size: 40px;
  border-radius: $general-border-radius;
  margin: 0 20px;
  padding: 0 20px;
}

.card__front-word {
}

.card__back {
  position: absolute;
  opacity: 0;
  inset: 0;
  z-index: -1;
  visibility: hidden;
}

.card__back_active {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  z-index: 1;
  opacity: 1;
  visibility: initial;
}

.card__back-sentences {
}

.word-in-sentence {
  font-weight: bold;
  display: inline-block;
  padding: 0 4px;
}

.card__back-sentences-title {
}

.card__title {
  margin: 0 0 10px 0;
  color: $paragraph-light-color;
  font-size: 16px;
}

.card__back-sentences-container {
  position: relative;
}

.card__back-sentence-item {
  position: absolute;
  opacity: 0;
  inset: 0;
  z-index: -1;
  visibility: hidden;
}

.card__back-sentence-item_active {
  display: initial;
  position: relative;
  visibility: initial;
  opacity: 1;
  z-index: 1;
}

.class__back-sentence {
}

.card__back-next-sentence-btn {
}

.next-btn {
  cursor: pointer;
  border: none;
  background-color: $accent-color-4;
  border-radius: 5px;
  color: $paragraph-white-color;
  font-size: 30px;
  line-height: 0.6;
  margin: 10px 0 0 0;
}

.card__back-images {
}

.card__back-images-title {
}

.card__back-images-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.card__back-image-item {
  inline-size: 100%;
  block-size: 150px;
  border-radius: 20px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  position: absolute;
  inset: 0;
}

.card__back-image-item_active {
  display: initial;
  opacity: 1;
  visibility: initial;
  z-index: 1;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__back-image {
  inline-size: max-content;
  block-size: 100%;
}

.card__back-next-image-btn {
}

.card__back-translations {
}

.card__back-translations-title {
}

.card__back-translations-container {
}

.card__back-translations-item {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  position: absolute;
  inset: 0;
}

.card__back-translations-item_active {
  display: initial;
  opacity: 1;
  visibility: initial;
  z-index: 1;
  position: relative;
}

.card__back-translation {
}

.card__back-next-translation {
}

.card__back-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  gap: 30px;
}

.card-control-btn {
  cursor: pointer;
  display: block;
  padding: 10px 10px;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  color: $paragraph-white-color;
  font-weight: bold;
  min-inline-size: 100px;
}

.card__back-controls-next {
  background-color: $accent-color-2;
}

.card__back-controls-next:hover {
  background-color: $accent-color-2-light;
}

.card__back-controls-forgot {
  background-color: $accent-color-1;
}

.card__back-controls-forgot:hover {
  background-color: $accent-color-1-light;
}
