@import 'variables';

// utility classes
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.body {
  font-family: Raleway, sans-serif;
  background-color: $body-background-color;
  margin: 0 auto;
  padding: 0 20px;
  block-size: 100%;
  display: grid;
  grid-template-rows: 1fr max-content;
}

.header {
  padding: 30px 0 20px 20px;
  inline-size: fit-content;
}

.header__title {
  font-size: 25px;
  inline-size: fit-content;
}

.header__link {
  inline-size: fit-content;
}

.content {
  block-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.footer {
  text-align: center;
  color: $accent-color-4;
  margin: 20px 0 20px 0;
}

.right-click-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  inset-inline-start: 0;
  inset-block-start: 0;
  padding: 20px;
  border-radius: $general-border-radius;
  background-color: $general-background-color;
  box-shadow: $general-box-shadow;
  border-top-left-radius: 0;
  z-index: 3;
}

.right-click-item-container {
  padding: 5px 0;
  inline-size: 100%;
}

.right-click-item-container:not(:last-child) {
  border-bottom: 1px solid $accent-color-4;
}

.right-click-item {
  padding: 10px 10px 10px 15px;
  border-radius: 10px;
  inline-size: 100%;
  cursor: pointer;
}

.close-right-click-menu-modal {
  position: absolute;
  inset: 0;
  z-index: 2;
}
