// colors
$body-background-color: #f5f5fb;
$menu-background-color: #fefefe;
$card-background-color: #fefefe;
$login-background-color: #fefefe;
$heading-color: #111026;
$heading-light-color: #ffffff;
$paragraph-color: #131336;
$paragraph-light-color: #9696bb;
$paragraph-white-color: #ffffff;
$new-cards-bg-color: #ff808b;
$new-cards-amount-color: #ff919b;
$all-cards-bg-color: #5a5ab2;
$all-cards-amount-color: #6b6ac4;
$weak-cards-bg-color: #5e81f4;
$weak-cards-amount-color: #6b8af0;
$theme-cards-bg-color: #a4a6db;
$theme-cards-amount-color: #9193c7;
$footer-text-color: #a4a6db;
$next-btn-background-color: #a4a6db;
$forgot-btn-background-color: #ff919b;
$forgot-btn-hover-color: #ffb0ba;
$remember-btn-background-color: #5e81f4;
$remember-btn-hover-color: #8ba7ff;
$login-btn-background-color: #ff919b;
$register-btn-background-color: #5e81f4;
$login-btn-hover-color: #ffb0ba;
$register-btn-hover-color: #8ba7ff;

// colorscheeme
$normal-blue: #5e81f4;
$dark-blue: #4d4cac;
$lighter-dark-blue: #5a5ab2;
$light-blue: #9698d6;
$lighter-light-blue: #a4a6db;
$orange: #ff808b;
$lighter-orange: #ff919b;
$super-light-orange: #f7e5e9;
$white-background: #fefefe;

// border radius
$general-border-radius: 30px;

// box shadow
$general-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
