// colors
$accent-color-1: #ff919b;
$accent-color-1-light: #ffb0ba;
$accent-color-1-dark: #ff808b;
$accent-color-2: #5e81f4;
$accent-color-2-light: #8ba7ff;
$accent-color-3: #5a5ab2;
$accent-color-3-light: #6b6ac4;
$accent-color-4: #a4a6db;
$accent-color-4-dark: #9193c7;
$accent-color-5: #00ff98;
$body-background-color: #f5f5fb;
$general-background-color: #fefefe;
$heading-light-color: #ffffff;
$heading-color: #111026;
$paragraph-color: #131336;
$paragraph-light-color: #9696bb;
$paragraph-white-color: #ffffff;

// border radius
$general-border-radius: 30px;

// box shadow
$general-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
