@import '../variables';

.student-dashboard {
  transition:
    opacity 0.5s ease,
    visibility 0.3s ease;
}

.student-dashboard_invisible {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.5s ease,
    visibility 0.3s ease;
}

.menu {
  margin: 0;
  background-color: $general-background-color;
  padding: 40px 30px;
  border-radius: $general-border-radius;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: $general-box-shadow;
}

.menu__item-link {
  cursor: pointer;
}

.menu__card {
  padding: 10px 20px;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  block-size: 100px;
}

.new_cards {
  background-color: $accent-color-1-dark;
}

.menu__card-title {
  color: $heading-light-color;
}

.menu__card-amount {
  color: $paragraph-white-color;
  inline-size: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
}

.new_cards .menu__card-amount {
  background-color: $accent-color-1;
}

.card_amount {
  font-weight: bold;
}

.weak_cards {
  background-color: $accent-color-2;
}

.weak_cards .menu__card-amount {
  background-color: $accent-color-2-light;
}

.all_cards {
  background-color: $accent-color-3;
}

.all_cards .menu__card-amount {
  background-color: $accent-color-3-light;
}

.theme_cards {
  background-color: $accent-color-4;
}

.theme_cards .menu__card-amount {
  background-color: $accent-color-4-dark;
}

.menu__card-category {
  color: $paragraph-white-color;
}
